.footer{
    width: 80%;
    min-width: 834px;
    height: auto;
    margin: 0 auto;
    .total{
        display: flex;
        justify-content: space-between;
        align-items:center;
        background-color:#414840;
        max-width: 100%;
        height: auto;
        .total1{
            .total1p{
                width: 269px;
                height: 96px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color:white;
            }
        }
    }
    .end{
        background-color:#343D33;
        max-width: 100%;
        height: 80px;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items:center;
        color:white
    }



   
}