.parent--section3{
    width: 80%;
     min-width: 834px;
     height: auto;
     margin: 0 auto;
     padding:70px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items:flex-start;
     background-color:white;
    h2{
        font-size: 45px;
        font-weight: 400;
        color:#343D33;
        margin: 5px;
    }
    .simvos{
        font-size: 14px;
        font-weight: 700;
        color:#475F45;
    }
    .section3-div2{
        display: flex;


        .div2-1{
            max-width: 550px;
            height: auto;
            .div2-1img{
            width: 520px;
            height: 330px;
            margin:50px 0 30px;
            }
            .div2-1tet{
                padding: 20px;
                h3{
                    font-size: 23px;
                    font-weight: 400;
                    color:#475F45
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color:#414840;
                }
                em{
                    font-size: 16px;
                    font-weight: 400;
                    color:#343D33
                }
            }
        }
        .div2-2{
            display: flex;
            flex-direction: column;
            margin:50px 0 30px;
            .div2-2arajin{
                display: flex;
                justify-content: center;
                .div2text{
                    margin-left: 20px;
                    max-width:354px;
                    h4{
                        font-size: 23px;
                        font-weight: 400;
                        color:#475F45;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        color:#414840;
                    }
                    em{
                        font-size: 16px;
                        font-weight: 400;
                        color:#343D33;
                    }
                }

            }
            hr{
                width: 100%;
                margin: 30px 0;
            }
            }
        }
   }

   @media screen and (max-width:1504px) {
    .section3-div2{
        flex-wrap: wrap;
    }
   }

